<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
<%- include('./partials/nav') %>
<h2><%=name%></h2>
<% items.forEach((dish)=>{ %>
  <li>
  <h3><%= dish.name %></h3> 
  <h4>$<%= dish.price %> | Rating: <%= dish.rating %> </h4> <p><%=dish.details %></p>
</li>
<% }) %>

